.faq-question-partial {
  border-radius: var(--b-radius);
  padding: 24px 34px 22px 32px;
  display: flex;
  flex-direction: column;
  max-width: 772px;
  width: 100%;
  transition: 0.2s;
  background: linear-gradient(0deg, #1a1a1a, #1a1a1a),
    linear-gradient(0deg, #434343, #434343);
  border: 1px solid var(--color-black-700);

  --icon-size: 13px;
  --icon-thickness: 1px;

  &[data-question-expanded] {
    background: linear-gradient(0deg, #281b1a, #281b1a);
    border: 1px solid var(--primary-color);

    .faq-question-partial__answer {
      margin-top: 24px;
      max-height: var(--faq-answer-height);
      overflow: visible;
      opacity: 1;
    }

    .faq-question-partial__icon {
      &:before {
        transform: rotate(90deg);
      }

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &:not(:first-of-type) {
    margin-top: 8px;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(0deg, #281b1a, #281b1a);
    border: 1px solid var(--primary-color);
  }

  & &__first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.02em;
  }

  & &__icon {
    position: relative;
    margin-left: 16px;
    width: var(--icon-size);
    height: var(--icon-size);
    flex-shrink: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: var(--primary-color);
      transition: 0.2s;
    }

    &:before {
      width: var(--icon-thickness);
      margin-left: calc(((var(--icon-size) - var(--icon-thickness)) / 2));
      height: 100%;
    }

    &:after {
      height: var(--icon-thickness);
      margin-top: calc(((var(--icon-size) - var(--icon-thickness)) / 2));
      left: 0;
      width: 100%;
    }
  }

  & &__answer {
    transition: 0.2s;
    margin-top: 0;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  & &__paragraph {
    line-height: 22px;
    letter-spacing: -0.01em;
    font-size: 16px;
    margin-block: 0;

    a{
        font-weight: 600;
    }

    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }

  @media (max-width: 410px) {
    padding: 24px;
    max-width: 347px;
    
    & &__title {
      font-size: 16px;
      line-height: 19px;
    }

    & &__paragraph {
      font-size: 14px;
    }
  }
}
